<!DOCTYPE html>
<html lang="en">

<script type="text/javascript">
  function NewClient() {
    location.href = "http://localhost:3000/new"
  }
  function FindClient() {
    location.href = "http://localhost:3000/find"
  }
</script>

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet">
  <link href="/stylesheets/home/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/home/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/stylesheets/home/lib/animate-css/animate.min.css" rel="stylesheet">
  <link href="/stylesheets/home/css/style.css" rel="stylesheet">
</head>

<body>
  <div id="preloader"></div>
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="/stylesheets/home/img/logo.png" alt="X Solar Tech">
        </div>
        <h1>X SOLAR TECH</h1>
        <h2><span class="rotating">Cadastro de clientes, Consulta de Clientes, Alteração de clientes, Exclusão de
            clientes</span></h2>
        <div class="actions">
          <a href="#about" onclick="NewClient()" class="btn-get-started">Cadastrar</a>
          <a href="#services" onclick="FindClient()" class="btn-services">Consultar</a>
          <a href="#services" onclick="FindClient()" class="btn-services">Alterar/Excluir</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Rodapé
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>X Solar Tech</strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by Gesiel Willian Finger
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #Rodapé -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <script src="/stylesheets/home/lib/jquery/jquery.min.js"></script>
  <script src="/stylesheets/home/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/stylesheets/home/lib/superfish/hoverIntent.js"></script>
  <script src="/stylesheets/home/lib/superfish/superfish.min.js"></script>
  <script src="/stylesheets/home/lib/morphext/morphext.min.js"></script>
  <script src="/stylesheets/home/lib/wow/wow.min.js"></script>
  <script src="/stylesheets/home/lib/stickyjs/sticky.js"></script>
  <script src="/stylesheets/home/lib/easing/easing.js"></script>
  <script src="/stylesheets/home/js/custom.js"></script>
  <script src="contactform/contactform.js"></script>

</body>

</html>